<div class="main-container light">
  <div class="topnav" [ngClass]="{'active': !menuIsOpen}">
      <mat-icon (click)="menuIsOpen = !menuIsOpen">menu</mat-icon>
      <div class="title">Sidebar
        <span class="breadcrumb" *ngIf="!isMobile">Home > insights > reach </span>
      </div>
  </div>
  <div class="navigation" [ngClass]="{'active':menuIsOpen}">
    <img src="assets/images/logo.PNG" alt="logo" *ngIf="menuIsOpen" class="logo">
    <img src="assets/images/logo-icon.png" alt="logo" *ngIf="!menuIsOpen" class="logo-icon">
    <ul>
      <li class="list" [ngClass]="{'active':item.selected}" *ngFor="let item of menuItems" [routerLink]="item.path" (click)="setActive(item)">
        <b></b>
        <b></b>
        <a>
          <span class="icon"><mat-icon>{{item.icon}}</mat-icon></span>
          <span class="title">{{item.title}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="page-wrapper" [ngClass]="{'active': !menuIsOpen}">
    <router-outlet></router-outlet>
  </div>
</div>